<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Usuários</ion-title>
    <ion-buttons slot="primary" (click)="addUsuarios()"> <!--Ao clicar no botão "Novo" estara acionando o metodo "addUsuarios", suas funçõs estão disponiveis em "usuarios.page.ts"-->
      <ion-button >Novo
        <ion-icon slot="end" name="add"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
